h1 {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

button {
  color: blue;
}

.jumbotron {
  background-color: #CF0707;
  color: white;
}

.surveyinfo {
  font-size: 18px;
  /*font-weight: bold;*/
}

.well {
  background-color: #6B6B6B;
  color: white;
}

#ruby {
  display: none;
}

#csharp {
  display: none;
}

#java {
  display: none;
}
