h1 {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

button {
  color: blue;
  margin-bottom: 20px;
}

.panel {
  background-color: #000000;
}

.jumbotron {
  background-color: #8F0000;
  color: white;
}

.resultinfo {
  text-align: center;
  font-size: 16px;
}

.surveyinfo {
  font-size: 18px;
}

.well {
  background-color: #6B6B6B;
  color: white;
}


#csharp {
  display: none;
}

#csharpwell {
  background-color: #00D31D;
}

#java {
  display: none;
}

#javawell {
  background-color: #36B4FF;
}

#ruby {
  display: none;
}

#rubywell {
  background-color: #7F00D2;
}
